<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = "{{ room_name|escapejs }}";

    // 建立连接
    var chatSocket = new WebSocket(
        'ws://localhost:8000/ws/track/');
    //接收后台传来的数据
    chatSocket.onopen = function(){
        console.log('Hello~~~')
    }
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data['type'] == 'taxi_pos'){
            console.log('it is taxi_pos')
        }
        else if (data['type'] === 'request_pos') {
          console.log('it is request_pos')
            console.log(data['content'])
        }
    };

    //浏览器端关闭连接
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    {% comment %} document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        // 发送查询条件
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    }; {% endcomment %}
</script>
</html>